{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
  <link rel="shortcut icon" href="{% static 'LogoIcone.png' %}" type="image/x-icon">

  <link rel="stylesheet" href="{% static 'styles_agendamento.css' %}" />
  
  <title>Agendamento - Abraçamente</title>
</head>
<body>
  <div class="container">
    <div class="retornar">
      <a href="/" title='Voltar para a página anterior' class="botao-voltar">
      <img src="{% static 'arrowIcon.png' %}" alt="Icone de seta para voltar à página anterior">
      </a>
    </div>
    

    <h1>Agende sua consulta</h1>
    <p>Preencha os campos abaixo para agendar uma consulta com a nossa equipe.</p>

    <form>
	<div id="mensagem-confirmacao" style="display: none; margin-top: 20px; text-align: center; color: green; font-weight: 600;">
  Agendamento realizado com sucesso!
</div>
      <div>
        <label for="nome">Nome Completo *</label>
        <input type="text" id="nome" name="nome" required />
      </div>

      <div>
        <label for="cpf">CPF *</label>
        <input type="number" id="cpf" name="cpf" required placeholder="123.456.789-00"/>
      </div>

      <div>
        <label for="celular">Número de Celular *</label>
        <input type="tel" id="celular" name="celular" required placeholder="(12) 3456-7890"/>
      </div>

      <div>
        <label for="genero">Genero *</label>
        <select name="genero" id="genero" required>
          <option value="" disabled selected>Selecione</option>
          <option value="masculino">Masculino</option>
          <option value="feminino">Feminino</option>
          <option value="outro">Outro</option>
        </select>
      </div>

      <div>
        <label for="Modalidade">Modalidade *</label>
        <select name="modalidade" id="modalide" required>
          <option value="" disabled selected>Selecione</option>
          <option value="online">On-line</option>
          <option value="presencial">Presencial</option>
        </select>
      </div>
      
      <div class="datas">
        <label for="data" class="texto-agenda">Datas Disponiveis</label>
        <div class="disponiveis">
          <label>
            <input type="radio" name="data" value="24/05/2025" required />
            24/05/2025
          </label>
          <label>
            <input type="radio" name="data" value="31/05/2025" />
            31/05/2025
          </label>
          <label>
            <input type="radio" name="data" value="07/06/2025" />
            07/06/2025
          </label>
        </div>
      </div>

      <div class="horarios">
        <label for="hora" class="texto-agenda">Horários Disponiveis:</label>
        <div class="disponiveis">
            <label>
              <input type="radio" name="hora" value="19:00" required />
              19:00
            </label>
            <label>
              <input type="radio" name="hora" value="20:00" />
              20:00
            </label>
            <label>
              <input type="radio" name="hora" value="21:00" />
              21:00
            </label>
        </div>
    </div>
      <button type="submit">Agendar</button>
    </form>
	
	<script>
  const form = document.querySelector('form');

  form.addEventListener('submit', function (e) {
    e.preventDefault(); // impede o envio padrão

    // Aqui você poderia enviar os dados para um backend se quiser

    // Redireciona para a página de agradecimento
    window.location.href = "{% url 'agendamento_com_sucesso' %}";
  });
</script>

    <footer>
      <p>&copy; 2025 Abraçamente - Todos os direitos reservados.</p>
    </footer>
  </div>
</body>
</html>
