{% load static %} <!-- carregando uma função do django para implementar um conteudo estático (css) no futuro -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="shortcut icon" href="{% static 'LogoIcone.png' %}" type="image/x-icon">

	<link rel="stylesheet" href="{% static 'styles/styles.css' %}">
	
	<!-- <link rel="stylesheet" href="{% static 'styles/ [coloque o caminho aqui] .css' %}">  # CSS da glr vai aq-->
</head>
<body>  
	
	{% include 'navbar.html' %} <!-- serve para "importar" o navbar para essa pagina sem ter q escrever ela inteira aqui -->
 
	
	<div class="container" style="display:flex; flex-direction: column; align-items: center;"> 
		{% block content %}{% endblock %} <!-- aqui esta guardando espaço para as paginas de password poderem escrever seu conteudo aqui, veja no html delas o trecho destacado que esta sendo guardado para usar aqui -->
	</div>

	<!-- JS-->
	<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
	
	<script src="{% static 'js/scripts.js' %}"></script>

	{% block scripts %}{% endblock scripts %} <!-- guardando espaço para chamar os scripts, dessa forma, ao inves de chama-los escrevendo em cada pagina de password, login e registro, apenas guardamos este espaço uma vez e então escrevemos menos linha de codigo e facilita manutenão -->

</body>
</html>