{% load static %} <!-- carregando uma função do django para implementar um conteudo estático (css) no futuro -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Abraçamente - Psicologia</title>
  <link rel="stylesheet" href="{% static 'styles.css' %}" />
  <link rel="stylesheet" href="{% static 'styles_resposivo.css' %}" />

  <link rel="shortcut icon" href="{% static 'LogoIcone.png' %}" type="image/x-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

</head>
<body>
  <div class="container-bg">
    <img class="imagem-fundo" src="{% static 'FundoPrincipal.png' %}" alt="Imagem de Fundo de uma Mulher Meditando">
    <div class="container-content">
      <header>
        <nav class="navbar">
          <div class="nav-logo">
            <img src="{% static 'LogoTransparenteColorida.png' %}" alt="Logo Abraçamente" class="logo-navbar">
            <span class="titulo-navbar">Abraçamente</span>
          </div>
          
          <ul>
            <li><a href="#quem-somos">Quem Somos</a></li>
            <li><a href="#duvidas">Dúvidas Frequentes</a></li>
            <li><a href="#contato">Contato</a></li>
            <li><a href="{% url 'tipo_agendamento' %}" class="agendamento-link">Agendamento</a></li>
                    
            {% if user.is_authenticated %}
              <li><a href="{% url 'perfil' %}" class="agendamento-link">Conta</a></li>
            {% else %}
              <li><a href="/register/" class="agendamento-link">Conectar</a></li>
            {% endif%}
          </ul>
      </nav>
      </header>
      <div class="container-texto">
        <h2>Foco no autoconhecimento</h2>
        <p>Abraçamente: Autoconhecimento e equilíbrio para sua vida</p>
        <a href="{% url 'tipo_agendamento' %}" class="cta-btn">Agendar Consulta</a>
      </div>
      
    </div>
  </div>

  <main class="container" class="esgotado-section">
    <section id="esgotado">
      <div class="esgotado-texto">
        <h2>Você está se sentindo esgotado? Cansaço constante, irritação no trabalho?</h2>
        <p>A  Síndrome de Burnout é um estado de esgotamento emocional, físico e mental causado por estresse prolongado no trabalho. Caracteriza-se por exaustão, distanciamento das relações e redução da eficácia profissional.</p>
      </div>

      <div class="esgotado-img">
        <img src="{% static 'Esgotado.jpg' %}" alt="Mulher expresssando cansaço.">
      </div>
    </section>

    <section id="medicamento">
      <div class="esgotado-img">
        <img src="{% static 'Remedio.jpg' %}" alt="Mulher expresssando cansaço.">
      </div>

      <div class="medicamento-texto">
        <h2>Dependência Química</h2>
        <p>É uma doença biopsicossocial, ou seja, com fatores biológicos, psicológicos e sociais, não ocorrendo somente com drogas ilícitas, também existem as substâncias lícitas que causam dependência (como medicamentos psiquiátricos, álcool e tabaco) causando prejuízos na vida do indivíduo.</p>
      </div>
    </section>

    <section id="duvidas">
      <h2>Dúvidas Frequentes</h2>
      <div class="faq">
        <div class="faq-item">
          <button onclick="toggleResposta(this)">Como funcionam as sessões?</button>
          <p class="resposta">As sessões têm duração média de 50 minutos e podem ser realizadas presencialmente ou online.</p>
        </div>
        <div class="faq-item">
          <button onclick="toggleResposta(this)">Preciso de encaminhamento médico?</button>
          <p class="resposta">Não. Você pode buscar atendimento psicológico diretamente, sem necessidade de encaminhamento.</p>
        </div>
        <div class="faq-item">
          <button onclick="toggleResposta(this)">Quanto custa uma sessão?</button>
          <p class="resposta">Os valores variam conforme o profissional e a modalidade (presencial ou online). Consulte para mais informações.</p>
        </div>
      </div>
    </section>
  </main>

  <footer>
    <div class="container">
      <img src="{% static 'LogoTransparente.png' %}" alt="Logo Abracamente fixa no rodapé" class="logo-footer">
      <p class="nome-logo">Abraçamente</p>
      <h1 class="titulo-r">A saúde mental é a base de tudo.</h1> <hr>
      <p class="subtitulo-r">A sua saúde mental vale mais do que você imagina.</p>
      <p class="deireitos">
        &copy; 2025 Abraçamente - Todos os direitos reservados.
      </p>
      <p>
      <a href="https://www.instagram.com/unibta.oficial?igsh=MW1laGRvYXpubGg3Ng==" target="_blank" class="instagram-link">
        <i class="fab fa-instagram"></i> Abraçamente
      </a>
      </p>
      <img src="{% static 'ChatBotQR.jgg' %}" alt="QR code para ir ao chat Bot!" class="chat-qr">
    </div>
  </footer>

  <script src="{% static 'script.js' %}"></script>
</body>
</html>
