{% load static %}

<nav class="navbar navbar-expand-lg border-bottom">

    <div class="container-fluid">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
            aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a class="navbar-brand" href="/"><img src="{% static 'LogoIcone.png' %}" alt="Logo Abracamente que leva para a página inicial"> AbraçaMente </a>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Voltar</a>
                </li> 

            </ul>

            <div class="d-flex gap-3 align-items-center">
                {% if user.is_authenticated %} <!-- função do django, se o usuario estiver autenticado mostra o conteudo abaixo: -->
                    <span class="nav-text">
                        {{user.username}} <!-- mostrar o nome de usuario -->
                    </span>
                    <form method="post" action="{% url 'logout' %}" style="display:inline;">
                        {% csrf_token %} <!-- token do django que protege formularios contra ataques CSRF -->
                        <button type="submit" class="btn btn-outline-danger">Sair</button>
                    </form>
                {% else %} <!-- se o usuario não estiver logado, mostra-ra os seguintes botoes -->
                    <a class="btn btn-outline-primary" href="{% url 'login' %}">Entrar</a>
                    <a class="btn btn-success" href="{% url 'register' %}">Registrar</a>
                {% endif %} <!-- fim do campo -->

            </div>
           
        </div>

    </div>

</nav>