{% load static %}
<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
        <link rel="stylesheet" href="{% static 'Login_Registro.css' %}">
        <link rel="shortcut icon" href="{% static 'LogoIcone.png' %}" type="image/x-icon">

        <title>Página de cadastro</title>
    </head>

    <body>
        <div class="container" id="container">
            <div class="form-container sign-up">
                <form method="POST" action="{% url 'connect' %}">
                    <h1>Criar Conta</h1>
                    <span>Use seu E-mail para se cadastrar</span>
                    {% csrf_token %}
                    <input type="text" name="username" placeholder="Nome">
                    <input type="email" name="username" placeholder="Email" required>
                    <input type="password" name="password1" placeholder="Senha" required>
                    <input type="password" name="password2" placeholder="Confirme sua senha" required>
                    <button type="submit">Criar</button>
                </form>
            </div>
            <div class="form-container sign-in">
                <form method="POST" action="{% url 'myhome' %}">
                    <h1>Entrar</h1>
                    <span>Use seu E-mail e senha para entrar na sua conta</span>
                    {% csrf_token %}
                    <input type="email" name="username" placeholder="Email" required>
                    <input type="password" name="password" placeholder="Password" required>
                    <a href="{% url 'password_reset_done' %}">Esqueceu sua senha?</a>
                    <button type="submit">Entrar</button>
                </form>
            </div>
            <div class="toggle-container">
                <div class="toggle">
                    <div class="toggle-panel toggle-left">
                    <h1>Bem-vindo(a) de volta!</h1>
                    <p>Insira seus dados para entrar na sua conta</p>
                    <button class="hidden" id="login">Entrar</button>
                    </div>
                    <div class="toggle-panel toggle-right">
                    <h1>Bem-vindo(a) ao Abraçamente!</h1>
                    <p>Registre-se para acessar o nosso site</p>
                    <button class="hidden" id="register">Criar</button>
                    </div>
                </div>
            </div>
        </div>
        <script src="{% static 'Login-Registro.js' %}"></script>

        <div class="voltar">
            <a href="/" title='Voltar para a página anterior' class="botao-voltar">
                <img src="{% static 'arrowIcon.png' %}" alt="Icone de seta para voltar à página anterior">
            </a>
        </div>
    </body>
</html>