{% extends 'base.html' %} <!-- irá extender o conteudo de base.html com o deste aqui -->

{% block title %}Login{% endblock %} <!-- titulo que entrará no espaço que foi reservado para o titulo de cada pagina -->

{% block content %} <!-- este trecho sera guardado para ser inserido em uma parte de base.html: -->

<div class="col-md-4">
    <form method="post">
        {% csrf_token %} <!-- token do django que protege formularios contra ataques CSRF -->

        <div class="mb-3">
            <label class="form-label" for="id_username">Usuário:</label>
            <input type="text" name="username" class="form-control">
        </div>
        
        <div class="mb-3">
            <label class="form-label" for="id_password">Senha:</label>
            <input type="password" name="password" class="form-control">
        </div>

        <button class="btn btn-warning" type="submit">Entrar</button>
    </form>
    
    <a href="{% url 'password_reset' %}">Esqueci minha senha</a>
</div>

{% endblock %} <!-- fim do trecho que sera inserido -->