{% extends 'base.html' %} <!-- irá extender o conteudo de base.html com o deste aqui -->

{% load static %}

{% block title %}Login{% endblock %} <!-- titulo que entrará no espaço que foi reservado para o titulo de cada pagina -->

{% block content %} <!-- este trecho sera guardado para ser inserido em uma parte de base.html: -->

<div class="col-md-4">
    <form method="post">
        {% csrf_token %} <!-- token do django que protege formularios contra ataques CSRF -->

        <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="Login_Registro.css">
    <title>Página de cadastro</title>
</head>

<body>

    <div class="container" id="container">
                <span>Use seu E-mail para se cadastrar</span>
                <input type="text" placeholder="Name">
                <input type="email" placeholder="Email">
                <input type="password" placeholder="Password">
                <button>Criar</button>
            </form>
        </div>
                <span>Use seu E-mail e senha para entrar na sua conta</span>
                <input type="email" placeholder="Email">
                <input type="password" placeholder="Password">
                <a href="#">Esqueceu sua senha?</a>
                <button>Entrar</button>
            </form>
        </div>
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>Bem-vindo(a) de volta!</h1>
                    <p>Insira seus dados para entrar na sua conta</p>
                    <button class="hidden" id="login">Entrar</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>Bem-vindo(a) ao Abraçamente!</h1>
                    <p>Registre-se para acessar o nosso site</p>
                    <button class="hidden" id="register">Criar</button>
                </div>
            </div>
        </div>
    </div>

    <script src="Login-Registro.js"></script>
</body>

</html>

{% endblock %} <!-- fim do trecho que sera inserido -->