{% extends 'base.html' %} <!-- irá extender o conteudo de base.html com o deste aqui -->

{% load static %}

{% block title %}Login{% endblock %} <!-- titulo que entrará no espaço que foi reservado para o titulo de cada pagina -->

{% block content %} <!-- este trecho sera guardado para ser inserido em uma parte de base.html: -->

<div class="col-md-4">
    <form method="post">
        {% csrf_token %} <!-- token do django que protege formularios contra ataques CSRF -->

        <div class="mb-3">
            <label class="form-label" for="id_username">Usuário:</label>
            <input type="text" name="username" class="form-control">
        </div>
        
        <div class="mb-3" style="position: relative;">
            <label class="form-label" for="id_password">Senha:</label>
            <input type="password" name="password" id="password" class="form-control">
            <button type="button" id="togglePassword" style="position: absolute; right: 10px; top: 38px; background: none; border: none; padding: 0; cursor: pointer; ">
                <img id="eyeIcon" src="{% static 'hide.png' %}" alt="Icone para Mostrar Senha">
            </button>
        </div>

        <button class="btn btn-warning" type="submit">Entrar</button>
    </form>
    
    <a href="{% url 'password_reset' %}">Esqueci minha senha</a>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const passwordInput = document.getElementById('password');
        const togglePassword = document.getElementById('togglePassword');
        const eyeIcon = document.getElementById('eyeIcon');
        let visible = false;

        togglePassword.addEventListener('click', function(e) {
            e.preventDefault();
            visible = !visible;
            passwordInput.type = visible ? 'text' : 'password';
            eyeIcon.src = visible ? "{% static 'view.png' %}" : "{% static 'hide.png' %}";
            eyeIcon.alt = visible ? 'Ocultar senha' : 'Mostar senha';
        })
    })
</script>

{% endblock %} <!-- fim do trecho que sera inserido -->