{% extends 'base.html' %} <!-- irá extender o conteudo de base.html com o deste aqui -->

{% block title %}Reset Ok{% endblock %} <!-- titulo que entrará no espaço que foi reservado para o titulo de cada pagina -->

{% block content %} <!-- este trecho sera guardado para ser inserido em uma parte de base.html: -->
<div class="col-md-4">
    <h2>Solicitação de Senha Nova</h2>
    <p>Enviamos um e-mail com instruções para definir sua senha. Se eles não chegarem em alguns minutos, verifique sua pasta de spam.</p>
</div>
{% endblock %} <!-- fim do trecho que sera inserido -->