{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Alterada com Sucesso</title>
  <link rel="shortcut icon" href="{% static 'LogoIcone.png' %}" type="image/x-icon">
  <link rel="stylesheet" href="{% static 'styles_agendamento.css' %}">
</head>
<body>
  <div class="container">
      <div class="col-md-4">
        <h2>Sua senha foi alterada com sucesso!</h2>
        <button><a href="{% url 'connect' %}" style="color:var(--cor0); text-decoration:none;">Fazer Login</a></button>
      </div>
    </div>
</body>
</html>