{% extends 'base.html' %} <!-- irá extender o conteudo de base.html com o deste aqui -->

{% block title %}Reset de Senha Completo{% endblock %} <!-- titulo que entrará no espaço que foi reservado para o titulo de cada pagina -->

{% block content %} <!-- este trecho sera guardado para ser inserido em uma parte de base.html: -->
<div class="col-md-4">
  <h3>Sua senha foi alterada com sucesso!</h3>
  <p><a href="{% url 'connect' %}">Fazer Login</a></p>
</div>
{% endblock %} <!-- fim do trecho que sera inserido -->