{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nova Senha</title>
    <link rel="shortcut icon" href="{% static 'LogoIcone.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'styles_agendamento.css' %}">
</head>
<body>
    <div class="container">
        <div class="col-md-4">
            {% if validlink %} <!-- puxando uma função do django para verificar se o link de recuperação de senha é valido, se for valido executa abaixo: -->
            <p>Registre sua nova senha abaixo:</p>
            <form action="" method="post">
                {% csrf_token %} <!-- token do django que protege formularios contra ataques CSRF -->
                <div class="mt-3">
                    {{ form.new_password1.errors }} <!-- função do django, formulario para colocar a senha -->
                    <label class="form-label" for="id_new_password1">Nova Senha:</label>
                    <input type="password" name="new_password1" class="form-control" id="id_new_password1"> 
                </div>
                <div class="mt-3">
                    {{ form.new_password2.errors }} <!-- função do django, formulario para colocar a senha novamente, se elas forem iguais sera a nova senha -->
                    <label class="form-label" for="id_new_password2">Confirmação de senha:</label>
                    <input type="password" name="new_password2" class="form-control" id="id_new_password2"> 
                </div>
                <button type="submit" class="btn btn-warning mt-3">Alterar Senha</button>
            </form>
            {% else %} <!-- se o link for invalido -->
            <h1>Falha na redefinição de senha</h1>
            <p>O link de redefinição de senha é inválido, possivelmente porque já foi usado. Solicite uma nova redefinição de senha.</p>
            {% endif %} <!-- fim do if -->
        </div>
    </div>
</body>
</html>