{% extends 'base.html' %} <!-- irá extender o conteudo de base.html com o deste aqui -->

{% block title %}Registrar{% endblock %} <!-- titulo que entrará no espaço que foi reservado para o titulo de cada pagina -->

{% block content %} <!-- este trecho sera guardado para ser inserido em uma parte de base.html: -->
<div class="col-md-4">
    <h4>Criar uma conta</h4>
    <form method="post">
        {% csrf_token %} <!-- token do django que protege formularios contra ataques CSRF -->
        {{ form.as_p }} <!-- função do django para formulario predefinido (se quiser alterar algo especifico chama o pato) -->
        <button class="btn btn-warning mt-3" type="submit">
            Registrar
        </button>
    </form>
</div>
{% endblock %} <!-- fim do trecho que sera inserido -->