/* Responsividade footer */
@media (max-width: 540px){
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px 20px 0px 0px;
    padding: 0px; /* Aumentei o padding do footer */
    background-color: var(--cor4);
    min-height: 30vh;
}

footer .container p {
  margin: 0;
  font-size: 14px;
  color: var(--cor0);
}

.logo-footer {
    display: block;
    margin: 3vh auto 0rem auto;
    height: auto;
}

.nome-logo {
    text-align: center;
    font-size: 2rem;
    padding: 0rem;
    margin-top: 0;
    margin-bottom: 0px;
    color: var(--cor0);
}

.titulo-r {
  position: relative;
    text-align: center;
    margin-bottom: 10px;
    top: 20px;
    font-size: 25px;
    color: var(--cor0);
}

.subtitulo-r {
  position: relative;
    text-align: center;
    left: 20px;
    top: 10px;
    color: var(--cor0);
}

hr {
  position: relative;
  text-align: center;
  top: 10px;
}

.inst {
  display: flex;
}
.instagram-link {
  text-decoration: none;
  color: var(--cor0);
  font-weight: bold;
}

.instagram-link i {
  margin-right: 5px;
}

.T-chat {
  position: relative;
  text-align: center;
  text-align: center;
}
.chat-qr {
  background-color: blueviolet;
}

.direitos{
  display: flex;
  font-size: 14px;
  color: var(--cor0);
}

}
@media (min-width: 541px) and (max-width: 1024px){
  .titulo-r {
  position: relative;
  text-align: center;
  bottom: 80px;
  font-size: 25px;
  color: red;
}
}

@media (min-width: 1024px){
  .titulo-r {
  position: relative;
  text-align: center;
  bottom: 80px;
  font-size: 25px;
  color: rgb(255, 0, 212);
}
}
