@charset "UTF-8";

/* Importação das fontes */
@import url('https://fonts.googleapis.com/css2?family=Coustard:wght@400;900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: 'itc';
  src: url('itc-motter-corpus/MotterCorpusStd-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* ============================= */
/*       VARIÁVEIS GLOBAIS       */
/* ============================= */
:root {
  --cor0: #ffffff;
  --cor1: #000000;
  --cor2: #006dff;
  --cor3: #004aad;
  --cor4: #063b82;
  --cor5: #ccc;  
  --cor6: #e4f1f6;   
  --cor7: #333;   
  --cor8: #5a8ea2;

  --font-padrao: "Coustard", serif;
  --font-destaque: "Montserrat", sans-serif;
  --font-titulo: 'itc';
}

/* ============================= */
/*         RESET BÁSICO         */
/* ============================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ============================= */
/*         BODY GLOBAL           */
/* ============================= */
body {
  font-family: var(--font-padrao);
  background-color: #c9d6ff;
  background: linear-gradient(to right, #e2e2e2, #c9d6ff);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  color: var(--cor7);
  padding: 40px 20px;
  min-height: 100vh;
}

/* ============================= */
/*       CONTAINER PRINCIPAL     */
/* ============================= */
.container {
  max-width: 600px;
  width: 100%;
  background-color: var(--cor0);
  border-radius: 12px;
  border: 1.5px solid var(--cor2); /* borda azul sutil */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
  padding: 30px 40px;
  margin: auto;
}

/* ============================= */
h1 {
  font-family: var(--font-titulo);
  font-size: 2.5em;
  color: var(--cor4);
  text-align: center;
  margin-bottom: 10px;
}

p {
  font-size: 1.1em;
  text-align: center;
  color: var(--cor8);
  margin-bottom: 30px;
}

/* ============================= */
/*         FORMULÁRIO            */
/* ============================= */
form {
  width: 100%;
}

form label {
  margin-top: 10px;
  margin-bottom: 5px;
  font-family: var(--font-destaque);
  font-weight: 600;
  color: var(--cor4);
}

form input, form textarea, form select {
  padding: 12px;
  border: 1px solid var(--cor5);
  border-radius: 6px;
  font-family: var(--font-destaque);
  transition: all 0.3s ease;
  width: 100%;
}

form textarea {
  height: 150px;
  resize: none;
}

/* Botão */
form button, button {
  margin-top: 20px; /* espaço entre os campos e o botão */
  align-self: center; /* centraliza o botão */
  padding: 12px 24px;
  background-color: var(--cor3);
  color: var(--cor0);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-family: var(--font-destaque);
  font-weight: 600;
  font-size: 1rem;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

form button:hover, button:hover {
  background-color: var(--cor4);
  transform: scale(1.02);
}


select#modalidade,
select#genero {
  padding: 12px;
  border: 1px solid var(--cor5);
  border-radius: 6px;
  font-family: var(--font-destaque);
  width: 100%;
  background: #fff;
  cursor: pointer;
}

.texto-agenda {
  display: block;
  text-align: center;
  width: 100%;
  margin-bottom: 8px;
  align-self: center;
}

.disponiveis {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 8px;
  margin-bottom: 8px;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--cor5);
  flex-wrap: wrap;
}

.disponiveis label {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  font-family: var(--font-destaque);
  font-weight: 600;
  color: var(--cor4);
}
.disponiveis input {
  cursor: pointer;
}

.disponiveis input[type="radio"] {
  transform: scale(1.5);
  margin: 6px 0;
}

hr {
  margin-top: 50px;
  margin-bottom: 50px;
  display: block;
}

/* ============================= */
/*            FOOTER             */
/* ============================= */
footer {
  margin-top: 40px;
  text-align: center;
  font-size: 0.9em;
  color: var(--cor7);
}

/* ====================================== */
/* BOTÃO VOLTAR NO AGENDAMENTO CONFIRMADO */
/* ====================================== */
.voltar {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 24px;
}

/* ============================= */
/*       MEDIA QUERY 600px      */
/* ============================= */

@media (max-width: 600px) {
  h1 {
    font-size: 1.5em;
  }

  p, form label{
    font-size: 1em;
  }

  form input, form textarea, select#modalidade, select#genero {
    font-size: 1em;
  }
  
  .disponiveis label {
    font-size: 0.95em;
  }
  
  form button {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 250px;
  }

  .container {
    padding: 18px 8px;
  }

  /* Botao de voltar no sucesso.html */
  .voltar {
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 0;
  }
}